<% -%>
<html>
	<head>
		<%= stylesheet_link_tag "simple_cms", "coderay" %>
    <%= javascript_include_tag "simple_cms" %>
    <%= javascript_include_tag "tiny_mce/tiny_mce", "tiny_mce_init" %>
    <title>Note Editing</title>
	</head>
	<body class="simplecmsbody">
		<%= yield %>
	</body>
</html>
